.category_box {
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    text-align: center;
}

.toxic {
    background-color: #cccfce;
    color: black;
    width: 70%;
    height: 18px;
    font-size: 14px;
    line-height: 18px;
}

.toxic:hover {
    background-color: #afb1b0;
}

.medium {
    background-color: #98d4ed;
    color: black;
    width: 80%;
    height: 24px;
    font-size: 16px;
    line-height: 24px;
}

.medium:hover {
    background-color: rgb(130, 182, 199);
}

.good {
    background-color: #63d6af;
    color: black;
    width: 90%;
    height: 30px;
    font-size: 20px;
    line-height: 30px;
}

.good:hover {
    background-color: #45c49a;
}

.default {
    background-color: gray;
    color: black;
}