.category_box {
    display: flex;
    border-style: solid;
    border-color: #e0e0e0;
    border-radius: 5000px;
    border-width: 2px;
    margin: 10px 0px;
    
    text-align: center;
    transition-duration: 0.4s;
}
.toxic {
    background-color: #cccfce;
    color: black;
    height: 18px;
    font-size: 14px;
    line-height: 18px;
}

.on {
    border-style: solid;
    border-color: #42a504;
    background-color: #95e5a9;
}

.medium {
    color: black;
    height: 24px;
    font-size: 16px;
    line-height: 24px;
    margin-left: 13px;
}
.good {
    color: black;
    height: 30px;
    font-size: 20px;
    line-height: 30px;
}
.off {
    background-color: #bbbbbb !important;
}

.off:hover {
    background-color: #aaaaaa !important;
}
.on:hover {
    background-color: #45c49a;
}
.default {
    background-color: gray;
    color: black;
}
.text {
    flex:76%;
}
.leftCircle{
    flex:12%;
    background-color: #dddddd;
    border-style: solid;
    border-radius: 500px 0px 0px 500px;
    border-width: 1.5px;
    border-color: black;
    transition-duration: 0.5s;
}
.circleOn {
    background-color: #42a504;
}
.rightCircle{
    flex:12%;
    background-color: #cccfce;
    margin-left: -1.5px;
    border-style: solid;
    border-radius: 0px 500px 500px 0px;
    border-width: 1.5px;
    border-color: black;
    transition-duration: 0.5s;
}
.circleOff{
    background-color: #565756;
}