.App {
  text-align: center;
  width: 600px;
  height: 500px;
  display: flex;
  flex-direction: column;
  border-color: black;
}

.App-content {
  background-color: #eaf8f5;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  flex-grow: 1; 
}

.App-header {
  height: 10%;
  background-color: #eaf8f5;
  width: 100%;
  display: flex;
  gap: 4px;
  justify-content: space-around;
}

.Header-tab {
  flex-grow: 1; 
  height: 100%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.row {
  width: 100%;
  justify-content: center;
  display: flex;
  column-gap: 10px;
  font-size: 20px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

.column-1 {
  flex:20%;
  margin-right:10px;
}

.column-2 {
  flex:30%;
}

.column-3 {
  flex:45%;
  margin-left: 10px;
}
